In [1]:
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras import Model
from tensorflow.keras.applications.inception_v3 import InceptionV3
import os
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

In [2]:
#Set the path to load images
with_mask_path = "./Resources/with_mask"
without_mask_path = "./Resources/without_mask"

In [8]:
#Initialize the lists
with_mask_image = []
with_mask_label = []
without_mask_image =[]
without_mask_label =[]

#load images and its labels into the lists
for img in os.listdir(with_mask_path):
    mask_img_path = os.path.join(with_mask_path + "/", img)
    with_mask_image.append(mask_img_path)
    with_mask_label.append("with_mask")
    
for img in os.listdir(without_mask_path):
    no_mask_img_path = os.path.join(without_mask_path + "/", img)
    without_mask_image.append(no_mask_img_path)
    without_mask_label.append("without_mask")
    
#create a dataframe for both with and without mask
with_mask_df = pd.DataFrame()
with_mask_df["image"] = with_mask_image
with_mask_df["label"] = with_mask_label

without_mask_df = pd.DataFrame()
without_mask_df["image"] = without_mask_image
without_mask_df["label"] = without_mask_label

#join the dataframes together
data = pd.concat([with_mask_df, without_mask_df], axis = 0, ignore_index = True)
data = shuffle(data).reset_index(drop=True)

                                                  image                  label
0     ./Resources/with_mask/with_mask_1.jpg./Resourc...  with_maskwithout_mask
1     ./Resources/with_mask/with_mask_10.jpg./Resour...  with_maskwithout_mask
2     ./Resources/with_mask/with_mask_100.jpg./Resou...  with_maskwithout_mask
3     ./Resources/with_mask/with_mask_1000.jpg./Reso...  with_maskwithout_mask
4     ./Resources/with_mask/with_mask_1001.jpg./Reso...  with_maskwithout_mask
...                                                 ...                    ...
3823                                                NaN                    NaN
3824                                                NaN                    NaN
3825                                                NaN                    NaN
3826                                                NaN                    NaN
3827                                                NaN                    NaN

[3828 rows x 2 columns]

#### Load:
##### Transformed data will be loaded to PostgreSQL database.
##### Create engine connection to PostgreSQL:¶

In [4]:
from sqlalchemy import create_engine
#!pip install psycopg2
# create engine connection
rds_connection_string = "postgres:postgres@localhost:5432/face_mask"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine

Engine(postgresql://postgres:***@localhost:5432/face_mask)

In [5]:
# Confirm tables in postgresql database
engine.table_names()

['face_mask_table']

In [6]:
# Dataframe loaded into database
data.to_sql(name='face_mask_table', con=engine, if_exists='replace', index=False)

In [7]:
#Confirm data has been added by querying the customer_name table
#NOTE: can also check using pgAdmin
pd.read_sql_query('select * from face_mask_table', con=engine).head()

                                            image         label
0  ./Resources/without_mask/without_mask_1080.jpg  without_mask
1  ./Resources/without_mask/without_mask_3316.jpg  without_mask
2  ./Resources/without_mask/without_mask_3147.jpg  without_mask
3  ./Resources/without_mask/without_mask_3546.jpg  without_mask
4   ./Resources/without_mask/without_mask_933.jpg  without_mask